{% extends 'layout.html' %}


{% block body %}

<div class="bg-body-tertiary p-5 rounded text-center">
    <h1>YOUSHA</h1>
    <h4>WEP DESIGNER , GRAPHIC DESIGNER , ART DIRECTOR</h4>
    <p class="lead">ILived and studied in damascus ,I was inspired by the world of graphics
    and web about 18 years ago ,then moved my attention to animation using adobe flash ,
    and the field of graphic design using adobe various programs ,Photoshop , InDesign and
    Illustrator</p>
  </div>

{% endblock %}